@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;

  --animate-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  --animate-bounce: bounce 1s infinite;

  @keyframes ping {

    75%,
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }

  @keyframes bounce {

    0%,
    100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

:root {
  /* Light Mode (Default) */
  --color-bg: #f8fafc;
  --color-surface: #ffffff;
  --color-border: #e2e8f0;

  --color-text-primary: #0f172a;
  --color-text-secondary: #64748b;
  --color-text-muted: #94a3b8;

  --color-primary: #3b82f6;
  --color-primary-dark: #2563eb;
  --color-primary-light: #eff6ff;

  --color-success: #10b981;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;
}

.dark {
  /* Dark Mode */
  --color-bg: #0f172a;
  --color-surface: #1e293b;
  --color-border: #334155;

  --color-text-primary: #f8fafc;
  --color-text-secondary: #cbd5e1;
  --color-text-muted: #64748b;

  --color-primary: #60a5fa;
  --color-primary-dark: #3b82f6;
  --color-primary-light: #1e3a8a;
}

/* Base Styles */
body {
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  font-family: var(--font-sans);
  transition: background-color 0.2s ease, color 0.2s ease;
}

::selection {
  background-color: rgba(59, 130, 246, 0.3);
  /* Blue 500 with opacity */
  color: white;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-color: var(--color-border);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-text-secondary);
}